.form {
  display: flex;
  padding: 10px;
  /* border-top: 2px solid #d3d3d3; */
}

.input {
  border: none;
  border-radius: 0;
  padding: 3%;
  height: 70px;
  width: 90%;
  margin: 0 10px 0 10px;
  font-size: 1.2em;
  border-radius: 50px;
  color: #000000;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  font-size: 20px;
  border-radius: 50%;
  text-decoration: none;
  background: #9dc3c0;
  height: 70px;
  width: 70px;
  border: none;
  margin: 0 10px 0 10px;
}
